@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('//necolas.github.io/normalize.css/3.0.2/normalize.css');

/* xs only */
@media (max-width: 767px) {
  .logo {
    float: left;
  }

  .user-opts {
    float: right;
  }

  .search-bar {
    margin-top: 10px;
  }
}

/* sm and bigger */
@media (min-width: 768px) { 
  .row-sm-vert-center {
    display: flex;
    align-items: center;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center;
  }

  .logo{
    float: right;
  }
}

input.ng-invalid.ng-touched {
  background-color: #F9B0AF;
}

input.ng-valid.ng-touched {
  background-color: #A8FAB9;
}

.search-bar input {
  background-color: #FFFFFF !important;
}

.row-vert-center {
  display: flex;
  align-items: center;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center;
}

.vert-align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.remove-margin {
  margin: 0px;
}

.flR {
  float: right;
}

.flL {
  float: left;
}

.full-width {
  width: 100%;
}

.bigger-font {
  font-size: 1.2em;
}

.hor-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

div.hr {
  background-color:#d1d1d1;
  height:1px;
}

.header {
  border-bottom: solid 1px #CCC;
  margin-top: 15px;
  padding-bottom: 15px;
}

.footer {
  border-top: solid 1px #CCC;
  padding: 15px 0px;
}

.logo {
  max-width: 100%;
}

.login-opt {

}

.home-jumbo {
  margin-bottom: 0px;
  padding-left: 15%;
}

.home-jumbo h1 {
  margin-top: 0px;
}

.login-popup {
  padding: 0% 5%;
}

.connect-options {
  margin-bottom: 15px;
}

.subscribe-btn {
  margin-top: 15px;
  margin-bottom: 20px;
}
