<div class="row productThumbnails">
  <div ng-repeat-start="product in products" ng-if="($index+1)%4 == 0"
      class="clearfix hidden-xs"></div>

  <div ng-repeat-end
      class="col-xs-12 col-sm-4 productThumbnail">
    <div class="thumbnail hor-center-block">
      <a href="/product/{{ product.asin }}">
        <h4>{{ product.title }}</h4>
      </a>
      <a href="/product/{{ product.asin }}">
        <img ng-src="{{ product.image }}">
      </a>
      <button ng-if="!isSubscribed(product.asin)"
          class="btn btn-primary"
          type="button" ng-click="subscribe(product.asin)">Subscribe</button>
      <button ng-if="isSubscribed(product.asin)"
          class="btn btn-danger"
          type="button" ng-click="unsubscribe(product.asin)">Unsubscribe</button>
    </div>
  </div>
</div>

