<div class="row"><!-- img and graph -->
  <div class="h4 col-xs-12 col-sm-8 col-sm-push-2">
    {{ product.title }}
  </div>
</div>
<div class="row row-sm-vert-center">
  <div class="col-xs-12 col-sm-3 col-sm-push-2">
    <img class="full-width" ng-src="{{ product.image }}">
  </div>
  <div class="col-xs-12 col-sm-5 col-sm-push-2">
    <linechart data="graphPrices" options="graphOptions" height="300"></linechart>
  </div>
</div><!-- end img and graph -->
<div class="row subscribe-btn">
  <div class="col-xs-12">
    <button ng-if="!isSubscribed(product.asin)"
        class="btn btn-primary hor-center-block"
        type="button" ng-click="subscribe(product.asin)">Subscribe</button>
  </div>
</div>

